[Unit]
Description=set cpu performance mode

[Service]
Type=forking
ExecStart=/usr/local/bin/set-cpu-performance.sh

[Install]
WantedBy=multi-user.target
